<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1>Książka na dziś:
    <th:block th:text="${selected_random_book.title}">100</th:block>
</h1>
<p>Autor:
    <th:block th:text="${selected_random_book.author}"></th:block>
</p>
<p>Kategoria:
    <th:block th:text="${selected_random_book.category}"></th:block>
</p>
<p>Liczba stron:
    <th:block th:text="${selected_random_book.pages}"></th:block>
</p>
<p>Czy przyjazna dzieciom:
    <th:block th:text="${selected_random_book.isForKidsInWords()}"></th:block>
</p>
</body>
</html>